[Unit]
Description=Backup Valtro-Webdesign website and configuration

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/valtro-backup
Nice=10
IOSchedulingClass=best-effort
IOSchedulingPriority=7
NoNewPrivileges=true
PrivateTmp=true
ProtectHome=read-only
ProtectSystem=strict
ReadWritePaths=/var/backups
